.sectionIdentity {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 2rem 2rem 2rem;
  width: 37rem;
  border-radius: 10px;
  background-color: rgba(23, 29, 46, 0.49);
  border: var(--gray-border);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionIdentity h3 {
  font-weight: bold;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: var(--gray-border-color);
  border-radius: 0 0 10px 10px;
  margin-bottom: 1rem;
}

.pBox {
  margin-bottom: 1rem;
  color: var(--identity-outside-background);
}

.pBox p {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.pBox p:last-child {
  margin-bottom: 0;
}

.profilePicImage {
  width: 11rem;
  height: 11rem;
  margin-right: 1rem;
}

.profilePicImage :global(.custom-file-upload),
.profilePicImage :global(.image-profile) {
  width: 100%;
  height: 100%;
}

.profilePicImage :global(.image-profile) {
  border-radius: 10px 0 0 10px;
  border: 4px solid #2a3554;
}

.picBox {
  width: 100%;
}

.textBox {
  background-color: var(--gray-border-color);
  padding: 0.5rem 1rem;
  text-align: left;
  border-radius: 0 10px 10px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textBox p {
  width: 100%;
}

.textBox p:last-child {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .sectionIdentity {
    width: fit-content;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 2rem;
  }

  .sectionIdentity p,
  .sectionIdentity h3,
  .textBox {
    display: none !important;
  }

  .profilePicImage {
    margin: 0;
  }

  .profilePicImage :global(.image-profile),
  .profilePicImage :global(.filter) {
    border-radius: 50%;
  }
}
