.background {
    position: fixed;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-image: url('https://res.cloudinary.com/dflvo098t/image/upload/v1748413573/landing-page_vgw7yx.gif');
    background-size: cover;
    background-position: center;
    z-index: -2;
    image-rendering: pixelated;
    filter: blur(5px);
    opacity: 0.5;
    transition: transform 0.3s ease-out;
    will-change: transform;
}
