.title {
    font-family: 'Brevis', sans-serif;
    font-size: clamp(3rem, 5vw, 6rem);
}

.subtitle {
    font-size: clamp(0.875rem, 1.2vw, 1rem);
    margin-bottom: 3rem;
}

.category {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-family: 'Futura', sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
}
