.infoSection {
    background-color: white;
    padding: 2rem;
}

.description {
    color: black;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

.styledButton {
    width: 15vw;
    padding: 0.4rem;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--background);
    color: white;
    font-family: var(--common-font-family), sans-serif !important;
}

.styledButton:hover {
    background-color: var(--gray-border-color);
}

@media (max-width: 991px) {
    .infoSection {
        padding: 2rem 1rem;
    }

    .styledButton {
        font-size: 4vw;
        width: 100%;
    }
}
