.sectionCommon {
  width: 100%;
  margin-bottom: 1rem;
}

.title2 {
  width: 100%;
  margin: 0;
  color: white;
  background-color: var(--gray-border-color);
  padding: 0.5rem;
  font-size: 1.2rem;
}

.inputsFieldset {
  margin: 1.5rem;
  display: flex;
  gap: 2rem;
}

.styledTextField {
  margin-top: 0;
}

.styledTextField label {
  display: block;
  font-family: var(--common-font-family), sans-serif;
  color: var(--label-color, #ccc);
  margin-bottom: 0.3rem;
}

.styledTextField input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: var(--background);
  color: white;
}

/* Styling for native inputs */
.styledTextField input,
.styledTextField label {
  font-family: var(--common-font-family), sans-serif;
}

.styledFormControl {
  margin-top: 0;
}

.styledFormControl label {
  display: block;
  margin-bottom: 0.3rem;
}

.styledFormControl select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: var(--background);
  color: white;
}

.styledFormControl label,
.styledFormControl select {
  font-family: var(--common-font-family), sans-serif !important;
  text-align: left;
}

@media (max-width: 991px) {
  .title2 {
    font-size: 4.5vw;
    padding: 0.8rem 0.5rem;
  }

  .inputsFieldset {
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
  }

  .styledTextField input,
  .styledTextField label,
  .styledFormControl select,
  .styledFormControl label {
    font-size: 3.5vw;
  }
}
