.sectionCommon {
  width: 100%;
  margin-bottom: 1rem;
}

.title2 {
  width: 100%;
  margin: 0;
  color: white;
  background-color: var(--gray-border-color);
  padding: 0.5rem;
  font-size: 1.2rem;
}

.inputsFieldset {
  margin: 1.5rem;
  display: flex;
  gap: 2rem;
}

.inputsFieldset.fullWidth {
  gap: 0;
}

.inputsFieldset.fullWidth > * {
  width: 100%;
}

.vitalResourcesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .vitalResourcesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  .title2 {
    font-size: 4.5vw;
    padding: 0.8rem 0.5rem;
  }

  .inputsFieldset {
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
  }

  .vitalResourcesGrid {
    grid-template-columns: 1fr;
  }
}
