.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://res.cloudinary.com/dflvo098t/image/upload/v1751094365/midnight-main-menu_bafpwg.gif');
    background-size: cover;
    background-position: center;
    z-index: -2;
    image-rendering: pixelated;
    filter: blur(5px);
    opacity: 0.5;
}
