.styledBoxField {
    background-color: rgba(23, 29, 46, 0.49);
    border: var(--gray-border);
    border-radius: 10px;
    width: 100%;
}

@media (max-width: 991px) {
    .styledBoxField {
        margin-bottom: 3rem;
    }
}
