.sectionCommon {
    width: 100%;
    margin-bottom: 1rem;
}

.title2 {
    width: 100%;
    margin: 0;
    color: white;
    background-color: var(--gray-border-color);
    padding: 0.5rem;
    font-size: 1.2rem;
}

.inputsFieldset {
    margin: 1.5rem;
    display: flex;
    gap: 2rem;
}

.flexBox {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.styledTextField {
    margin-top: 0;
}

.styledTextField :global(.MuiInputLabel-root),
.styledTextField :global(.MuiInputBase-input) {
    font-family: var(--common-font-family), sans-serif !important;
}

.styledTextField :global(.MuiFilledInput-root) {
    background-color: var(--background);
}

.styledTextField :global(.Mui-disabled) {
    background-color: var(--gray-border-color);
}

.styledTextField :global(.MuiSvgIcon-root) {
    opacity: 0.3;
}

@media (max-width: 991px) {
    .title2 {
        font-size: 4.5vw;
        padding: 0.8rem 0.5rem;
    }

    .inputsFieldset {
        flex-direction: column;
        margin: 1rem;
        gap: 1rem;
    }

    .flexBox {
        gap: 1rem;
    }

    .styledTextField :global(.MuiInputBase-input),
    .styledTextField :global(.MuiInputLabel-root) {
        font-size: 3.5vw;
    }
}
