@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: "Roboto Slab", sans-serif;
}

.card {
  padding: 2em;
}

.fichaComum {

  input {
    background-color: rgba(255, 255, 255, 0.09);
    outline: none;
    border: #2b2b2b 2px solid;
    margin: 12px;
    padding: 12px;
    text-align: center;
    border-radius: 30px;
    font-size: large;
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background 0.3s ease-in-out;
  }

  input:focus {
    background-color: rgba(45, 162, 0, 0.14);
    border: #48ff00 2px solid;
    color: #2da200;
  }

  input::placeholder {
    color: #606060;
  }

}

.fichaComum-title {
  color: #2b2b2b;
  transition: color 0.3s ease-in-out;
}

.fichaComum-title:hover {
  color: #48ff00;
}