@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
    font-family: 'Cascadia Mono';
    src: url('./assets/fonts/CascadiaMono.ttf') format('woff');
    src: url('./assets/fonts/CascadiaMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Para o Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para o Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#root {

    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: var(--common-font-family), sans-serif;
}

.no-scroll {
    overflow: hidden;
}

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-block-center {
    display: block !important;
}

.display-none {
    display: none;
}

.container-skill-select {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0.625vw;

    .input-skill {
        margin: 0;
        padding: 0.2vw !important;
        width: 100%;
    }

    .margin {
        padding: 0.2vw !important;
    }

    p {
        margin-bottom: 0;
        margin-right: 1vw;
    }

    &.last-select {
        margin-bottom: 0;
    }

}

.color-gray-placeholder {
    color: var(--gray-placeholder);
}

.container-textarea-skill-right {
    margin: 0.625vw 0.625vw 0;
    padding: 0.5vw 0.7vw;
    width: 40%;
}

.container-skill-selectors {
    display: flex;
}

.container-textarea-skill-left {
    margin: 0.625vw 0.625vw 0;
    padding: 0.5vw 0.7vw;
    width: 60%;
    display: flex;

    background-color: var(--gray-background);
    border-radius: 0.7vw;
    border: var(--gray-border);

    .section-skill-selectors {
        width: 100%;
    }

    .section-skill-selectors.right {
        margin-left: 3vw;
    }

}

.container-textarea-annotation {
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

    button {
        margin: 0 12px 0 12px;
    }

    .button-header.active.clear {
        width: fit-content;
    }

}

.alert-box-collapsible {
    width: 100%;
}

.column {
    flex-direction: column;
}

.Collapsible__trigger {
    font-size: 1.25vw !important;
    display: block;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 3px solid var(--gray-border-color);
    color: white;
    &:after {
        content: "\F340";
        font-family: "bootstrap-icons", serif !important;
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
    }
}

.Collapsible.note .Collapsible__trigger:before {
    content: "📋";
    font-family: "bootstrap-icons", serif !important;
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
}
.Collapsible.note .Collapsible__trigger.is-open:before {
    content: "📋";
}

.Collapsible.skill .Collapsible__trigger:before {
    content: "⚔️";
    font-family: "bootstrap-icons", serif !important;
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
}
.Collapsible.skill .Collapsible__trigger.is-open:before {
    content: "⚔️";
}

.Collapsible__trigger.is-open:after {
    content: "\F341";
}

.Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey;
}

.fixed-bottom {
    right:0;
    bottom: 1vw;
    position: fixed;
    font-size: 1vw;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: fit-content;
}

.card {
    padding: 2em;
}

.mainCommon input:focus,
.mainCommon .custom-select:hover,
.mainCommon .textarea-sheet:focus,
.button-header.active:hover,
.button-header.active.clear:hover {
    border: var(--focus-gray-border) !important;
    cursor: pointer;
}

.button-header {
    font-size: var(--common-button-font-size);
    pointer-events: auto;
    border-radius: 100px;
    transition: var(--common-transition);
    min-width: 110px;
    border: var(--gray-border);
    margin: 0 2rem;
    box-shadow: none;
    outline: none;
    &:hover {
        border: var(--gray-border);
    }
    &.active.clear {
        background-color: var(--red-background);
        border: var(--red-border);
        color: var(--red-text);
        width: 100%;
        justify-content: center;
    }
    &.active.up {
        margin-bottom: 1rem;
    }
    &.salvar {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-family: sans-serif;
    }
}

.header.infos.lobby {
    background-color: transparent;
    backdrop-filter: none;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;

    padding: 0 2rem 0 2vw;
    backdrop-filter: blur(50px);
    background-color: rgba(23, 29, 46, 0.49);
    border: var(--gray-border);

    position: absolute;
    height: 80vh;
    width: 70vw;

    border-radius: 20px;
    outline: none;
    color: var(--common-font-color);

    display: flex;
    align-items: center;
    justify-content: center;

    word-break: break-all;
    .closeButton {
        right: 0;
        font-size: 2rem;
        position: absolute;
        transition: var(--common-transition);
        z-index: 2;
        top: 0;
        background-color: var(--gray-border-color);
        border-radius: 0 0 0 20px;
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--gray-card-background);
        &:hover {
            cursor: pointer;
            color: var(--common-font-color);
        }
    }
    .rightBox {
        align-self: flex-start;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2rem 0 2vw;
        gap: 1.3rem;
        height: 100%;
        input, textarea {
            border: none;
            outline: none;
            color: var(--common-font-color);
            width: 100%;
            background-color: rgba(15, 19, 31, 0.56);
            border-radius: 0 0 10px 10px;
            padding: 0.5rem 0.7rem;
            transition: var(--common-transition);
            &.title {
                font-size: 2rem;
                font-weight: bolder;
                text-align: center;
            }
            &:focus {
                background-color: rgba(15, 19, 31, 0.80);
            }
        }
        textarea {
            resize: none;
            hyphens: auto;
            word-break: break-word;
            height: 100%;
        }
        .button {
            border-radius: 50px;
            outline: none;
            border: none;
            &.delete {
                background-color: var(--red-text);
                color: white;
                transition: var(--common-transition);
                .bi {
                    margin-left: 0.2rem;
                }
                &:hover {
                    color: var(--red-text);
                    background-color: white;
                }
            }
        }
        .boxButtons {
            background-color: rgba(42, 53, 84, 0.32);
            border-radius: 20px 20px 0 0;
            padding: 1rem;
        }
    }
    .leftBox {
        width: 40%;
        height: calc(100% - 4vw);
        background-color: rgba(42, 53, 84, 0.32);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--common-transition);
        overflow: hidden;
        .image {
            width: 100%;
            object-fit: cover;
            &.image-placeholder {
                filter: grayscale(1);
                opacity: 0.5;
                mix-blend-mode: hard-light;
                width: 110%;
                height: 110%;
            }
        }
        &:hover {
            background-color: rgba(42, 53, 84, 0.52);
            cursor: pointer;
        }
    }
}

.navbar {
    z-index: 1;
    width: 100%;
    position: fixed;
    transition: var(--common-transition);

    &.custom-theme {
        backdrop-filter: blur(10px);
        background-color: rgba(16, 21, 36, 0.49);
    }

    &.default-theme {
        background-color: transparent;
    }

    &.show {
        height: 100%;
    }

    .navbar-brand {
        display: none;
        &.show {
            visibility: visible;
        }
    }

    a, span {
        color: white;
        opacity: 0.3;
    }

    a:focus, a:hover, span:focus, span:hover {
        color: white;
        opacity: 0.3;
    }

    .collapse.show {
        display: flex;
        flex-direction: column;
    }

    .navbar-toggler {
        background-color: var(--button-background-color);
        margin-right: calc(1vw + 1vh);
        border: none;
        transition: var(--common-transition);

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }

        &.active {
            background-color: var(--gray-placeholder);
            .navbar-toggler-icon {
                opacity: 1;
            }
        }
    }

    .navbar-toggler.active.login-themed {
        background-color: var(--login-themed-background);
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler:hover {
        outline: none;
        border: none;
    }

    #navbarText {
        height: 100%;
        margin: 0 calc(5vw + 5vh) 0 calc(5vw + 5vh);
        .navbar-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            .nav-item {
                margin-right: 0.5vw;
                margin-left: 0.5vw;
                border-radius: 50px;
                background-color: var(--gray-border-color);
                width: 100%;
                margin-bottom: 5px;
                transition: var(--common-transition);
            }
            .nav-item.active {
                .nav-link {
                    opacity: 1;
                }
                background-color: var(--gray-placeholder);
            }
            .nav-item:hover {
                background-color: var(--gray-placeholder);
            }
            .nav-item.sign-in {
                cursor: pointer;
                p {
                    padding: 0.5rem;
                    margin: 0;
                }
            }
            .nav-item.sign-in.login {
                background-color: white;
                color: var(--gray-placeholder);
            }
            .nav-item.sign-in.login.login-themed {
                background-color: var(--login-themed-background);
                color: #fff3e6;
            }
            .nav-item.sign-in.sign-out {
                background-color: var(--red-text);
                color: white;
            }
            .config {
                margin-left: 5vw;
                width: fit-content;
                background-color: var(--gray-border-color);
                .nav-link {
                    width: 2.5rem;
                    opacity: 1;
                }
            }
            .config:hover {
                background-color: var(--gray-placeholder);
            }
            .active.config {
                background-color: var(--gray-placeholder);
            }
        }
    }

}

#grain-background {
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    z-index: -1;
}

.backgroundCommon {
    opacity: 0.5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background-size: auto;
    width: 100%;
    height: 100%;
    background-image: url("../images/login_background.png");
    z-index: -1;
    &.negative {
        background-image: url("../images/login_background.png");
        rotate: 180deg;
    }
}

.mainCommon.page-config {
    .section-files {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: var(--gray-border);
        background-color: var(--gray-card-background);
        padding: 3vw;
        border-radius: 1vw;
        gap: 1vw;
        .light {
            background-color: var(--gray-border-color);
            &:hover {
                background-color: var(--gray-placeholder);
            }
        }
        .sheet {
            color: var(--common-font-color);
        }
        p {
            grid-column: span 2;
            color: white;
            font-size: 1.25vw;
        }
        .clear-delete.confirmation, .cloud-save.confirmation {
            background-color: var(--yellow-background);
            border: var(--yellow-border);
            color: var(--yellow-text);
        }
        .dark {
            background-color: var(--gray-background);
            border: var(--gray-border);
        }
        .clear-delete.confirmation:hover, .cloud-save.confirmation:hover {
            background-color: var(--red-background) !important;
            border: var(--red-border) !important;
            color: var(--red-text);
        }
        .file, .save, .clear-delete, .cloud-save, .sheets {
            margin: 0;
        }
        .file > * {
            cursor: pointer;
        }
        .sheets {
            grid-column: span 2;
        }
    }
}

.mainCommon.page-login {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    .loginCard {
        border: var(--gray-border);
        border-radius: 1vw;
        background-color: var(--gray-card-background);
        padding: 4vw;
        .submit {
            background-color: var(--gray-border-color);
            color: #fff3e6;
            border: var(--gray-border);
            font-size: calc(1vw);
            margin: 2vw 0 0 0;
        }
        .submit:hover {
            background-color: var(--gray-placeholder);
            border: var(--focus-gray-border);
        }
        .title-login {
            color: white;
            font-size: calc(2.5vw);
            margin-bottom: 3vw;
        }
        .p-login {
            color: white;
            font-size: calc(1vw);
            margin-bottom: 1vw;
            text-align: start;
        }
        #login-form {
            label {
                font-size: calc(1vw);
                color: white;
            }
            input {
                width: 100%;
            }
            .p-error {
                background-color: var(--red-background);
                padding: 1vw;
                border-radius: 1vw;
            }
        }
    }
}

.mainCommon.page-6 {
    .boxInventory {
        gap: 1vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 8rem;
            background-color: var(--gray-background);
            color: var(--gray-border-color);
            border-radius: 20px;
            transition: var(--common-transition);
            border: var(--gray-border);
            .bi {
                transition: var(--common-transition);
            }
            &.inventory {
                position: relative;
                overflow: hidden;
                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                    transition: var(--common-transition);
                    &.image-placeholder {
                        filter: grayscale(1);
                        opacity: 0.5;
                        mix-blend-mode: hard-light;
                    }
                }
                .title {
                    color: white;
                    font-family: "Arimo", serif;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    font-weight: bolder;
                    mix-blend-mode: difference;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    transition: var(--common-transition);
                    font-size: 0;
                    word-break: break-word;
                    padding: 0.5vw;
                }
            }
            &.add {
                padding: 3rem;
                font-size: 2.8rem;
            }
            &:hover {
                cursor: pointer;
                background-color: var(--gray-placeholder);
                color: var(--gray-border-color);
                flex-grow: 0.02;
                .bi {
                    transform: rotate(-90deg);
                }
                &.inventory {
                    .image {
                        width: 150%;
                        height: 150%;
                        transform-origin: center center;
                        object-fit: cover;
                    }
                    .title {
                        opacity: 1;
                        font-size: 1vw;
                    }
                }
            }
        }
    }
}

.mainCommon.page-4, .mainCommon.page-5 {
    .Collapsible {
        span {
            padding-right: 2rem;
            padding-left: 2rem;
            color: var(--common-font-color) !important;
        }
    }
    .create-annotation {
        display: flex;
        justify-content: center;
        align-items: center;
        .search {
            font-size: 0.9vw;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45%;
            margin-left: 3vw;
            .search.skill {
                padding: var(--common-input-padding);
                width: 100%;
            }
        }
    }
    .create-annotation.input {
        width: 40%;
        .create-annotation-title {
            width: 100%;
            font-size: 0.9vw;
            padding: var(--common-input-padding);
            margin: 0.625vw;
        }
    }
    .create-annotation.button {
        height: 100%;
        min-width: 15%;
        .create {
            font-size: 0.9vw;
            width: 100%;
            padding: var(--common-input-padding);
            margin: 0.625vw;
            background-color: var(--gray-border-color);
            &:hover {
                background-color: var(--gray-placeholder);
            }
        }
    }
    .tag-cloud {
        margin: 1vw;
        gap: 1vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .tag {
            margin: 0;
            font-size: 0.9vw;
            padding: var(--common-input-padding);
            border-radius: 10px;
            background-color: var(--gray-border-color);
            color: var(--common-font-color);
            transition: var(--common-transition);
            border: var(--gray-border);
            &.active {
                background-color: var(--common-font-color);
                color: var(--gray-border-color);
                border: var(--gray-border);
            }
            &.active.linked {
                background-color: white;
                color: var(--gray-placeholder);
            }
            &.linked {
                background-color: var(--gray-placeholder);
                color: white;
                border: 3px solid var(--gray-placeholder);
            }
            &.active.reflex {
                background-color: white;
                color: #a0a8c0;
            }
            &.reflex {
                background-color: #a0a8c0;
                color: white;
                border: 3px solid #a0a8c0;
            }
            &:hover {
                cursor: pointer;
            }
            .bi {
                margin-right: 0.3rem;
            }
        }
    }
}

.mainCommon.page-3 {
    .Toastify__toast-theme--dark {
        backdrop-filter: blur(10px);
        background-color: rgba(23, 29, 46, 0.49);
        border: var(--gray-border);
        font-weight: bolder;
    }
    .Toastify__progress-bar-theme--dark {
        background-color: var(--gray-placeholder);
    }
    .section-dice {
        div h2 {
            font-size: 2vw;
            margin: 0;
        }
        div .dice {
            margin-left: 2vw;
            min-width: 21.354vw;
            height: 4vw;
            .dice-background {
                background-color: var(--gray-card-background);
            }
            .dice-font {
                font-size: calc(var(--common-button-font-size) + 0.4vw);
                color: white;
                padding: calc(var(--common-input-padding) + 0.4vw);
                border: var(--gray-border);
            }
            .dice-font.left {
                height: 100%;
                width: 100%;
                border-radius: 20px 0 0 20px;
            }
            .dice-font.right {
                height: 100%;
                width: 100%;
                border-radius: 0 20px 20px 0;
            }
            .dice-font.center {
                font-size: calc(1.2333vw - 0.01vw * var(--text-length));
                height: 100%;
                width: 100%;
                border-left: none;
                border-right: none;
                border-radius: 0;
                p {
                    margin: 0;
                }
            }

        }
    }
    .section-options {
        .options-buttons {
            .button-lock {
                font-size: var(--common-button-font-size);
                border-radius: 100px;
                transition: var(--common-transition);
                min-width: 110px;
                border: var(--gray-border);
                margin: 1vw;
                padding: var(--common-input-padding);
                background-color: var(--gray-background);
            }
        }
        .button-lock:hover {
            border: var(--focus-gray-border);
            color: var(--gray-placeholder);
            cursor: pointer;
        }
        .search {
            margin: 1vw;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .alert-box {
            text-align: left;
            border-left: var(--focus-gray-border);
            padding: 1vw;
            color: var(--gray-placeholder);
            background-color: var(--gray-background);
            width: 100%;
            margin-bottom: 2rem;

            .last-p {
                margin-bottom: 0;
            }

        }
    }
    .section-status {
        border: var(--gray-border);
        background-color: var(--gray-card-background);
        border-radius: 1vw;
        margin-bottom: 1vw;

        .form-control {
            background-color: var(--gray-background);
        }
        .mainCommon.title-2 {
            color: white;
            margin: 1.3rem;
        }
        .input-bonus {
            color: yellow;
            background-color: #160523;
            border: 3px solid #4e1977;
            border-right: 3px solid #5f5f00;
            border-left: none;
        }
        .input-bonus:focus {
            color: yellow;
            border: 3px solid #8f3bd1 !important;
            border-right: 3px solid yellow !important;
            border-left: none !important;
        }
        .input-bonus:disabled {
            background-color: #0b0312;
        }
        .input-status {
            margin: 0;
            box-shadow: none;
            color: white;
            border-left: none;
        }
        .input-status.border-right-none {
            border-right: none !important;
        }
        .input-status:focus {
            border-left: none !important;
            cursor: text;
        }
        .input-status:disabled {
            background-color: var(--gray-background);
        }

    }

}

.mainCommon.page-2 {
    .Collapsible {
        span {
            color: var(--common-font-color) !important;
        }
    }
}

.mainCommon.page-1 {
    .section-identity {

        .container-identity-outside {
            padding-left: 1vw;
            padding-right: 1vw;
            background-color: var(--gray-placeholder);
        }

        .container-identity-outside-text {
            font-size: var(--common-button-font-size);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container-identity-outside-text-p {
            --padding: 0.7vw;
            color: var(--gray-placeholder);
            margin: 0;
            width: fit-content;
            background-color: var(--identity-inside-background);
            padding-right: var(--padding);
            padding-left: var(--padding);
            border-radius: 5vw;
        }

        .container-identity-inside {
            min-width: 25.6vw;
            padding: 0 1vw 1vw 1vw;
            display: flex;
            justify-content: left;
            align-items: start;
            background-color: var(--identity-inside-background);
            width: fit-content;
            font-size: var(--common-button-font-size);
            &.outside {
                padding: 0.6vw;
            }
            &.center {
                width: 100%;
                display: block;
                justify-content: center;
                align-items: center;
                padding: 0.5vw 0 1vw;
                p {
                    margin: 0.1vw;
                }
            }
        }

        .container-identity-inside-text {
            margin-left: 1vw;
            text-align: left;

            p {
                margin-bottom: 0.6vw;
            }

        }

        .image-profile {
            height: 7.813vw;
            width: 7.813vw;
            transition: all 0.2s ease-in-out;
            &:hover {
                filter: invert(1);
            }
            &.active:hover {
                filter: none;
                opacity: 70%;
            }
        }

        .container-identity {
            font-family: "Arimo", serif;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1vw;
        }
    }
    .section-statics {
        display: flex;
        .static-container, .static-container .static-status {
            width: 100%;
        }
        .display-block-center {
            width: 100%;
        }
    }
    .disabled {
        background-color: var(--gray-border-color);
        color: var(--gray-placeholder);
    }
}

.mainCommon.page-0 {
    padding: 0;
    font-family: "Lora", sans-serif;
    width: 100%;
    .mainCommon-page-0-titleHover {
        z-index: 0.5;
        color: white;
        width: fit-content;
        cursor: pointer;
        transition: var(--common-transition);

        h1 {
            font-size: 4vw;
        }

        h2 {
            font-size: 2vw;
        }

    }
    .mainCommon-page-0-section-0 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .mainCommon-page-0-section-0-article {

            .mainCommon-page-0-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 3vw;
                img {
                    rotate: 90deg;
                    height: 10vw;
                }
            }
        }
    }
    .mainCommon-page-0-section-1 {
        background-color: white;
        padding: 1vw;

        p {
            margin-bottom: 0;
            padding-top: 1vw;
        }

        .mainCommon-page-0-section-1-footer {
            padding-top: 1vw;

            button {
                outline: none;
                border: none;
                transition: var(--common-transition);
                &:hover {
                    background-color: var(--gray-placeholder);
                }
            }

        }

    }
}

.mainCommon {
    padding: 8rem 2rem 3rem 2rem;
    margin: auto;
    width: 70%;
    max-width: 100%;

    &.title-2 {
        border: none;
        box-shadow: none;
        backdrop-filter: none;
        padding: 0;
        background: transparent none;
        color: #ffffff;
        transition: color 0.3s ease-in-out;
    }

    &.sheet-selection {
        .section-files {
            .container-buttons {
                .input-name, .button-header {
                    font-size: 0.9vw;
                    margin: 0.625vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .input-name {
                    width: 60%;
                }
                .create {
                    width: 25%;
                }
                .back {
                    width: 15%;
                }
                .light {
                    background-color: var(--gray-border-color);
                    &:hover {
                        background-color: var(--gray-placeholder);
                    }
                }
            }
            .sheet-list {
                margin-top: 5vw;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .sheet {
                    min-width: 20%;
                    transition: var(--common-transition);
                    .p-name {
                        height: 50px;
                        background-color: var(--gray-background);
                        border-radius: 50px;
                        border: var(--gray-border);
                        min-width: 2vw;
                        transition: var(--common-transition);
                        padding: 10px 40px 10px 40px;
                        margin: 0;
                        color: var(--gray-placeholder);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .p-name:hover {
                        cursor: pointer;
                        border: 3px solid white;
                        color: var(--common-font-color);
                        border: var(--focus-gray-border);
                    }
                    .bi {
                        border: var(--red-border);
                        margin: 0 0 0 20px;
                        transition: var(--common-transition);
                        background-color: var(--red-background);
                        color: var(--red-text);
                        padding: 10px;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .bi:hover {
                        border: 3px solid var(--red-text);
                        cursor: pointer;
                        background-color: var(--red-text);
                        color: var(--red-background);
                    }
                }
            }
        }
    }

    fieldset.page-1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 100%;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            select {
                width: 100%;
            }

        }

        div, div input {
            width: 100% !important;
        }

    }

    input, .custom-select {
        background-color: var(--gray-background);
        outline: none;
        padding: var(--common-input-padding);
        border: var(--gray-border);
        text-align: center;
        border-radius: 30px;
        font-size: 0.8vw;
        transition: var(--common-transition);
    }

    input::placeholder, .textarea-sheet::placeholder {
        color: var(--gray-placeholder);
    }

    .textarea-center-container {
        display: flex;
        justify-content: space-around;
    }

    .textarea-meio {
        width: 50%;
    }

    .textarea-container {
        margin: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textarea-sheet {
        font-size: var(--common-textarea-font-size);
        border-radius: 0.7vw;
        resize: none;
        color: white;
        border: var(--gray-border);
        background-color: var(--gray-background);
        transition: var(--common-transition);
    }

    .textarea-sheet:focus {
        box-shadow: none;
        outline: none;
        cursor: text;
    }

    .title-2 {
        border: none;
        box-shadow: none;
        backdrop-filter: none;
        padding: 0;
        background: transparent none;
        color: var(--common-font-color);
        transition: color 0.3s ease-in-out;
    }

    .statusDescription {
        font-size: var(--common-button-font-size);
        color: var(--common-font-color);
    }

    .title-2-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .mainCommon.title-2 {
            width: 100%;
        }
    }

    .title-2 {
        font-size: 1.25vw;
        margin: 10px;
    }

    .custom-select {
        cursor: pointer;
        color: white;
    }

    .custom-select:focus {
        outline: none;
        box-shadow: none;
    }

    .custom-select-father {
        padding: 12px;
    }

    .custom-select:hover select {
        background-color: var(--green-background);
    }

    input {
        margin: 12px;
    }

    input:focus {
        cursor: text;
    }

    .min {
        .input-group {
            width: 17rem;
        }
    }

    .input-group {
        padding: 0;
        margin: 0.625vw;
    }

    .input-group-text-center, .input-group-text-left {
        display: flex;
        padding: var(--common-input-padding);
        border: none;
        justify-content: center;
        align-items: center;
    }

    .input-group-text-center {
        min-width: 50%;
        max-width: 50%;
        background-color: var(--gray-border-color);
        border: var(--gray-border);
        border-right: none;
        border-left: none;
        color: white;
        font-size: 0.7vw;
        transition: var(--common-transition);
    }

    .input-group-text-center.pericia:hover, .input-group-text-left.defined.attribute:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    .input-group-text-left {
        font-size: 0.8vw;
        min-width: 1.667vw;
        border-radius: 100px 0 0 100px;
    }

    .input-group-text-left.defined {
        transition: var(--common-transition);
        width: 100%;
        height: 100%;
        font-size: 0.8vw;
    }

    .text-div {
        width: 60%;
    }

    .input-left, .input-right {
        width: 0;
        min-width: 9.896vw;
    }

    .input-left {
        border-radius: 30px 0 0 30px;
        margin-right: 3px;
    }

    .input-center-dropdown {
        border-radius: 0 0 0 0;
        margin-right: 3px;
        margin-left: 3px;
        width: 100%;
    }

    .input-right {
        border-radius: 0 30px 30px 0;
        margin-left: 3px;
    }

    .custom-select-father.direito {
        padding-left: 0;
    }

    .custom-select-father.meio {
        padding-right: 0;
        padding-left: 0;
        display: flex;
    }

    .input-center {
        display: flex;
        justify-content: space-around;
    }

    .input-center.justify-center{
        justify-content: center;
    }

    .status-drop {
        justify-content: center;
    }

}

@media (max-width: 991px) {
    .popupOverlay {
        z-index: 5;
        background-color: rgba(15, 19, 31, 0.84);
    }
    .popup {
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        transform: unset;
        width: unset;
        height: unset;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1.3rem;
        padding: 0;
        border-radius: 20px 0 0 20px;
        overflow: auto;
        .closeButton {
            right: 10px;
            top: 10px;
            border-radius: 50px;
        }
        .leftBox {
            box-sizing: border-box;
            width: calc(100% - 8vw);
            height: 27vh;
            margin: 0 4vw;
            border-radius: 0 0 20px 20px;
            flex-shrink: 0;
        }
        .rightBox {
            width: 100%;
            padding: 0 4vw;
            justify-content: flex-end;
            height: fit-content;
            input, textarea {
                border-radius: 10px;
                &.title {
                    font-size: 1.1rem;
                }
                &.popup-content, &.popup-image, &.popup-type {
                    font-size: 0.8rem;
                }
            }
            textarea {
                border-radius: 10px 0 0 10px;
                min-height: 15rem;
                height: 20rem;
            }
        }

    }
    .navbar {
        --button-background-color: var(--gray-border-color);
        .navbar-brand {
            display: flex;
            margin-left: calc(1vw + 1vh);
            transition: var(--common-transition);
        }
        #navbarText {
            margin: calc(1vw + 1vh) calc(1vw + 1vh) 0 calc(1vw + 1vh);
            .nav-item {
                margin: unset;
            }
            .nav-item.sign-in {
                margin: 8vw 0 0 0;
            }
            .navbar-nav {
                .config {
                    background-color: var(--gray-background);
                    margin-left: 0.5vw;
                    width: 100%;
                    .nav-link {
                        width: 100%;
                    }
                    &.active {
                        background-color: var(--gray-placeholder);
                    }
                }
                .nav-item {
                    transition: none;
                }
            }
        }
    }
    .mainCommon.page-config {
        width: 100%;
        .section-files {
            margin: 5vw 0 0 0;
            border-radius: 4vw;
            grid-template-columns: repeat(2, 1fr);
            gap: 0;
            p {
                font-size: calc(5vw);
                margin-bottom: 4vw;
            }
            .clear-delete, .file, .save, .cloud-save, .sheets {
                height: calc(10vw);
                font-size: calc(4vw);
                text-align: center;
                line-height: calc(5vw);
            }
            .cloud-save {
                margin: 2vw 0 0 0;
                grid-column: span 2;
            }
            .clear-delete {
                margin: 2vw 0 0 0;
                grid-column: span 2;
            }
            .file {
                margin: 0 1vw 0 0;
            }
            .save {
                margin: 0 0 0 1vw;
            }
            .sheets {
                margin: 2vw 0 0 0;
            }
        }
    }
    .mainCommon.page-login {
        width: 100%;
        .loginCard {
            width: 100%;
            padding: 10vw 4vw;
            border-radius: 5vw;
            .title-login {
                font-size: calc(7vw);
            }
            .p-login {
                font-size: calc(3vw);
                text-align: center;
                margin: 7vw 0 7vw 0;
            }
            #login-form {
                input {
                    font-size: calc(4vw);
                    height: calc(10vw);
                    margin: 12px 0 12px 0;
                }
                .display-flex-center {
                    flex-direction: column;
                    align-items: start;
                    box-sizing: border-box;
                    label {
                        font-size: calc(4vw);
                    }
                }
                .submit {
                    font-size: calc(4vw);
                    margin-top: 6vw;
                    width: 100%;
                }
            }
        }
    }
    .mainCommon.page-0 {
        .mainCommon-page-0-titleHover {
            h1 {
                font-size: calc(3.5rem);
            }
            h2 {
                font-size: calc(1.5rem);
            }
        }
        .mainCommon-page-0-section-0 {
            .mainCommon-page-0-section-0-article {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .button-login {
                    font-size: calc(2rem);
                    border-radius: 10vw;
                    padding: 0.5rem 2rem;
                }
                .mainCommon-page-0-logo {
                    width: fit-content;
                }
                .mainCommon-page-0-logo img {
                    height: calc(15vw + 15vh);
                }
            }
        }
        .mainCommon-page-0-section-1 {
            padding: 3vw 3vw 4vw 3vw;
            .description {
                padding-bottom: 2vw;
                border-bottom: 1px solid black;
            }
            .footerButton {
                margin-top: 2vw;
            }
        }
    }
    .mainCommon.page-1 {
        width: 100%;
        .title-2-container {
            .mainCommon.title-2 {
                font-size: calc(5vw);
                margin: 10px;
            }
        }
        fieldset.page-1 {
            flex-direction: column;
            .custom-select-father {
                padding: 0;
            }
            input, .custom-select-father .custom-select {
                font-size: calc(4vw);
                height: calc(10vw);
                margin: 1vw;
                border-radius: 100vw;
            }
            .container-recurso {
                flex-direction: column;
                .input-left {
                    border-radius: 100vw 0 0 100vw;
                }
                .input-right {
                    border-radius: 0 100vw 100vw 0;
                }
            }
        }
        .section-identity {
            .container-identity {
                .container-identity-inside.outside {
                    background-color: transparent;
                }
                .container-identity-outside {
                    background-color: transparent;
                    .container-identity-inside {
                        background-color: transparent;

                        .profile-pic-image {
                            .custom-file-upload {
                                .image-profile {
                                    border-radius: 50%;
                                    height: calc(40vw);
                                    width: calc(40vw);
                                }
                            }
                        }
                        .container-identity-inside-text {
                            display: none;
                        }
                    }
                    .container-identity-inside.center {
                        display: none;
                    }
                    .container-identity-outside-text {
                        display: none;
                    }
                }
            }
        }
    }
    .mainCommon.page-2 {
        width: 100%;
        .Collapsible__trigger {
            margin: 0;
            font-size: calc(5vw) !important;
        }
        .Collapsible__contentInner {
            .textarea-container {
                margin: 2vw 0 1vw 0;
                .textarea-sheet {
                    font-size: calc(3vw);
                }
            }
        }
        .textarea-sheet {
            font-size: calc(4vw);
        }
        .section-tracos {
            .textarea-center-container {
                flex-direction: column;
                .textarea-meio {
                    width: 100%;
                }
            }
        }
    }
    .mainCommon.page-3 {
        width: 100%;
        .Toastify__toast-theme--dark {
            border: none;
        }
        .section-dice {
            .title-2 {
                font-size: calc(5vw);
            }
            .display-flex-center.dice {
                width: 100%;
                margin: 2vw 0 0 0;
                height: 15vw;
                .dice-background {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: calc(4vw);
                    height: calc(14vw);
                }
                .dice-font.center {
                    font-size: calc(4vw - 0.09vw * var(--text-length));
                }
            }
        }
        .section-dice > .display-flex-center {
            flex-direction: column;
        }
        .section-options .display-flex-center {
            flex-direction: column;
            .options-buttons {
                width: 100%;
            }
            .button-lock, .search.status {
                width: 100%;
                font-size: calc(4vw);
                height: calc(10vw);
                border-radius: 100px;
            }
            .alert-box {
                display: flex;
                justify-content: center;
                align-items: center;
                border: var(--focus-gray-border);
                padding: 3vw 0 3vw 0;
                border-radius: 20px;
                margin-bottom: 2vw;
                .alert-box-message {
                    text-align: center;
                    font-size: calc(3.5vw);
                }
            }
        }
        .section-options .display-flex-center.buttons {
            margin: 1vw 0 1vw 0;
        }
        .section-status {
            border-radius: 20px;
            margin-bottom: 2vw;
            .mainCommon.title-2 {
                font-size: calc(5vw);
            }
            .statusDescription {
                display: none;
            }
        }
        .input-center {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 2vw 0 2vw;
            .input-group.mb-3 {
                height: calc(8.5vw);
                width: 100%;
                .input-group-text-left:not(.defined) {
                    width: 20%;
                }
            }
            .input-group.mb-3 * {
                font-size: calc(3vw);
            }
        }
    }
    .mainCommon.page-4, .mainCommon.page-5 {
        --common-input-margin: 1vw 0 1vw 0;
        --common-input-font-size: calc(4vw);
        width: 100%;
        .create-annotation {
            flex-direction: column;
            input, button {
                height: calc(10vw);
            }
            .create-annotation.input .create-annotation-title,
            .create-annotation.button button,
            .search .search.skill {
                font-size: calc(4vw);
                margin: var(--common-input-margin);
            }
            .search:not(.skill) {
                margin: 0;
            }
        }
        .create-annotation > * {
            width: 100% !important;
        }
        .Collapsible__trigger {
            margin: 0;
            font-size: calc(4vw) !important;
        }
        .Collapsible__contentInner {
            .container-skill-selectors {
                flex-direction: column;
                .container-textarea-skill-left {
                    padding: 0;
                    margin: 1vw 0 0 0;
                    flex-direction: column;
                    background-color: transparent;
                    border: none;
                    .section-skill-selectors {
                        display: flex;
                        justify-content: start;
                        align-items: start;
                        flex-direction: column;
                        input, .custom-select {
                            height: calc(8.5vw);
                            font-size: calc(3vw);
                        }
                        .container-skill-select {
                            margin: 1vw 0 1vw 0;
                        }
                    }
                    .section-skill-selectors > * {
                        width: 100%;
                    }
                    .section-skill-selectors.right {
                        margin: 0;
                    }
                }
                .container-textarea-skill-right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;
                    .container-skill-select {
                        margin: 1vw 0 1vw 0;
                        width: 100%;
                        input {
                            height: calc(8.5vw);
                            font-size: calc(3vw);
                        }
                    }
                }
            }
            .container-skill-selectors > * {
                width: 100%;
            }
            .container-textarea-annotation {
                margin: 2vw 0 1vw 0;
                flex-direction: column;
                #textarea-undefined {
                    font-size: calc(3vw);
                }
                .delete-button {
                    margin: 2vw 0 1vw 0;
                    width: 100%;
                    button {
                        padding: 0;
                        font-size: var(--common-input-font-size);
                        height: calc(8.5vw);
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
        .textarea-sheet {
            font-size: calc(3vw);
        }
        .tag-cloud {
            margin: 4vw 0;
            gap: 2vw;
            .tag {
                font-size: 0.7rem;
                padding: 1.4vw;
                border-radius: 100px;
                transition: var(--common-transition);
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .mainCommon.page-6 {
        width: 100%;
        .boxInventory {
            gap: 2vw;
            .item {
                height: 6rem;
                width: 6rem;
                &.add {
                    padding: 0;
                }
                &:hover {
                    flex-grow: 0;
                    .bi {
                        transform: rotate(-90deg);
                    }
                    &.inventory {
                        .image {
                            width: 100%;
                            height: 100%;
                        }
                        .title {
                            opacity: 0;
                            font-size: 0vw;
                        }
                    }
                }
            }
        }
    }
    .mainCommon.sheet-selection {
        width: 100%;
        --common-input-margin: 1vw 0 1vw 0;
        .section-files {
            .container-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                .input-name, .button-header {
                    font-size: calc(4vw);
                    height: calc(10vw);
                    width: 100%;
                    margin: var(--common-input-margin);
                }
            }
            .sheet-list {
                margin-top: 20vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                .sheet {
                    margin: var(--common-input-margin);
                    width: 100%;
                    .p-name, .bi {
                        font-size: calc(4vw);
                        height: calc(10vw);
                    }
                    .p-name {
                        width: 70%;
                    }
                    .bi {
                        width: calc(10vw);
                    }
                }
            }
        }
    }
}

/* Adicione este código ao seu arquivo CSS, por exemplo, `src/App.css` */

/* Estilos para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--gray-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-placeholder);
    border-radius: 10px;
    border: 3px solid var(--gray-background);
}

/* Estilos para Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--gray-placeholder) var(--gray-background);
}