@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Brevis';
    src: url('./fonts/Brevis-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('./assets/fonts/Futura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@import "tailwindcss";

:root {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #0b0f1a;
  background-color: var(--background);
}

@theme {
  --font-futura: 'Futura', sans-serif;
  --font-brevis: 'Brevis', sans-serif;

  --color-background: var(--background);
}

body {

  --yellow-des: #ffff00;
  --red-for: #c00000;
  --blue-int: #0070c0;
  --purple-pre: #502ba8;
  --green-vig: #00b050;
  --color-life: #F39F5A;
  --color-energy: #AE445A;
  --color-per: #662549;
  --color-cromo: #451952;
  --color-destruction: #505050;
  --color-levitation: #ffffff;
  --color-release: #ff3a3a;
  --color-manipulation: #39dcff;
  --color-imagination: #cc66ff;
  --color-modification: #ffcb3c;
  --color-creation: #33ff5c;

  --common-font-color: #8089ae;

  --login-themed-background: var(--gray-placeholder);

  --gray-placeholder: #646b88;
  --dark-gray-background: #101524;
  --gray-border-color: #2a3554;
  --gray-border: #2a3554 3px solid;
  --focus-gray-border: var(--gray-placeholder) 3px solid;
  --card-background: #171d2e;

  --warn: #ffb700;
  --warn-hover: #b28000;
  --danger: #ff3333;
  --danger-hover: #cc2828;

  --green-background: #001300;
  --green-border: #339c33 3px solid;
  --green-text: #339c33;

  --blue-background: #000c13;
  --blue-border: #00adcc 3px solid;
  --blue-text: #00adcc;

  --yellow-border: #ffcc00 3px solid;
  --yellow-background: #231d03;
  --yellow-text: #ffcc00;

  --purple-border: #8537ba 3px solid;
  --purple-background: #1a0b25;
  --purple-text: #8537ba;

  --identity-inside-background: #e3e0d2;
  --identity-outside-background: #646b88;

  --red-background: #1c0000;
  --red-border: #800000 3px solid;
  --red-text: #ff3333;

  --nav-link-background: rgba(255, 255, 255, 0.15);

  --common-transition: all 0.2s ease-in-out;
  --common-input-padding: 0.5vw;
  --common-button-font-size: 0.833vw;
  --common-textarea-font-size: 0.9vw;
  --common-header-font-size: 0.833vw;
  --common-status-input-padding: 1.5vw;

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes gridPulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}